/** Variables root */
:root{
    /* Colors */
    --white-color: #ffffff;
    --black-color: #0d0d0d;
    --source-color : #0d0d0db0;


    /* Fonts
    --main-font: 'Pixelify', sans-serif;
    --bigtitle-font: 'SilkscreenBold', sans-serif;
    --title-font: 'SilkscreenRegular', sans-serif; */

    /* Font-size de base */
    --title-size: 6rem;
    --subtitle-size: 2.5em;
    --text-size: 1.5em;
    --source-size : 1rem;
}

