/*Index.html*/
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: var(--title-size);
}
h2, h3 {
    font-family: "Fredoka", sans-serif;
    font-size: var(--subtitle-size);
}

p {
    font-family: "Asap", sans-serif;
    font-size: var(--text-size);
    max-width: 800px;

}
header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-element{
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 100px
}



.corner {
    position:absolute;
    z-index: 2;
    margin: 0;
}

.algues-top-left{
    top: -20px;
    left: -45px;
}
.algues-top-right{
    top: -30px;
    right: 0;
}

.solo-top-right{
    right: 50px;
}
#solo-bottom-left-lefty{
    left: -50px;
    z-index: 1;

}
#solo-bottom-left-mid{
    left: 150px;
    z-index: 1;
}
#solo-bottom-left-righty{
    left: 150px;
    z-index: 1;
}

.algues-bottom-left{
    bottom: 0;
    left: 0;
}
.algues-bottom-right{
    bottom: 0;
    right: 0;
}

.container h1 {
    margin-left: 30px;
}



.intro {
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(202, 226, 235);
}

.video {
    display: flex;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

video {
    border-radius: 20px;
}

.Quizz {
    height: 100vh;
    background-image: url(../assets/img/quizz-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizz-container {
    max-width: 1000px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.809);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 16px;
    padding: 16px;
    box-shadow: 1px 10px 12px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 12px 1px rgba(0,0,0,0.75);
}

.quizz-container p {
    max-width: 100%;
    padding: 8px;
    margin: 8px;
}

/* Footer général */
footer {
    background-color: #011826;
    color: #ffffff;
    font-size: var(--text-size);
    padding: 2rem 0 0 0;
}

/* Conteneur principal du footer */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* Gère les petits écrans */
    gap: 2rem;
    padding: 0 2rem;
}

/* Icônes sociales */
.social-icons {
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
}

.social-icons a img {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover img {
    transform: scale(1.2);
}

/* Section Pollution Océanique */
.intro {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-pollue-gauche {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.container-pollue-gauche img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 30%;
}

.container-pollue-droit {
    width: 75%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.container-pollue-droit h2 {
    margin-bottom: 15px;
}

.container-pollue-droit p {
    line-height: 1.5;
}

/* Section Videos */

.video {
    background-color: #cee1ea;
    padding: 50px 20px;
    text-align: center;
}

.video-container {
    max-width: 1200px;
    margin: 0 auto;
}

.video-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.video-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.video-wrapper video {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Sections graphique */
.graphique {
    background-color: rgb(202, 226, 235);
    padding: 50px 20px;
    text-align: center;
    /* max-width: 1200px; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.graphique-container {
    max-width: 1200px;
    margin: 0 auto;
    height: fit-content;
}

.graphique-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.graphique-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    text-align: justify;
}

.graph-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.graph-wrapper canvas {
    width: 100%;
    max-width: 500px;
    height: 300px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Section cause */
.cause {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #eaf7f7;
    text-align: center;
}

#cause {
    font-size: 3.5rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.cause p {
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
}

.cause a {
    text-decoration: underline;
    color: #007acc;
    font-weight: 500;
}

.cause a:hover {
    color: #005f99;
}

#join {
    color: #007acc;
}




/* Section des contacts */
.contact-section {
    flex: 1;
    max-width: 40%;
}

.contact-section h2 {
    color: #66d8ff;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.contact-section p {
    line-height: 1.5;
    color: #d4e6f1;
    font-size: 1.2rem;
}

.contact-section a {
    color: #66d8ff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}


.contact-section a:hover {
    color: #a3d3e8;
}

/* Liens du footer */
.footer-links {
    flex: 1;
    max-width: 20%;
    text-align: right;
}

.footer-copyright p{
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.footer-links a {
    color: #66d8ff;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease-in-out;
    font-family: "Asap", sans-serif;
}

.footer-links a:hover {
    color: #a3d3e8;
}

.footer-copyright {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    width: 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.social-icons a {
    color: #66d8ff;
    font-size: 2.5rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: "Asap", sans-serif;
}

.social-icons a:hover {
    color: #a3d3e8;
    transform: scale(1.2);
}


.social-icons i {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
}

.bonne_reponse {
    display: none;
}

.mauvaise_reponse {
    display: none;
}

/*Sources*/