/*Index.html*/
*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
    }
    
    
    header {
        display: flex;
        height: 120vh;
        justify-content: center;
        align-items: center;
        background-image: url(img/DataPolluOcean.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container {
        display: flex;
        align-items: center;
    }
    
    .container h1 {
        margin-left: 30px;
    }

    .bande {
        height: 10vh;
        background-color: black;
    }

    .intro {
        height: 100vh;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(202, 226, 235);
    }
    
    .video {
        display: flex;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    
    video {
        border-radius: 20px;
    }
    
    .graphique {
        height: 250vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(202, 226, 235);
        padding: 20px;
    }

    .cause{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    
    footer {
        display: flex;
        height: 30vh;
        background-color: rgb(1, 24, 37);
        
    }

    footer p {
        color: white;
    }

    footer h2 {
        color: white;
    }
    
    footer div {
        margin: 15px;
    }

    .text_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .lien_footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20px;
    }

    .lien_footer a{
        color: azure;
        transition: all 0.5s ease-out;
    }

    .lien_footer a :hover {
        color: aqua;
    }
    /*Mention légales*/
    
    
    
    /*Sources*/